force-app/main/default/flows/Get_Crypto_Ticker_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_CoinGecko_Crypto_Price</name>
        <label>Get CoinGecko Crypto Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CryptoPriceCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Crypto_Price_by_Ticker</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>Crypto_Ticker</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CryptoPriceCallout</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varCryptoName</assignToReference>
            <name>cryptoName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCryptoPrice</assignToReference>
            <name>usdPrice</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Crypto_Price_by_Ticker</name>
        <label>Get Crypto Price by Ticker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CryptoTickerPriceCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Price</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cryptoTicker</name>
            <value>
                <elementReference>Crypto_Ticker</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CryptoTickerPriceCallout</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varCryptoName</assignToReference>
            <name>cryptoName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CalloutSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCryptoPrice</assignToReference>
            <name>usdPrice</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Get Crypto Ticker Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Crypto Ticker Price</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Price</name>
        <label>Price Display Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayPrice</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;The current price for {!varCryptoName} is: {!varCryptoPrice}


&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Current_Price</name>
        <label>Get Current Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_CoinGecko_Crypto_Price</targetReference>
        </connector>
        <fields>
            <name>Crypto_Ticker</name>
            <dataType>String</dataType>
            <fieldText>Crypto Ticker</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Price</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CalloutSuccess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCryptoName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCryptoPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
